html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: hsl(210, 4%, 10%); /* colors.BACKGROUND from theme.ts */
}

.MuiBox-root::-webkit-scrollbar {
  display: none;
}